spring:
  datasource:
    url: jdbc:h2:mem:food
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
  spring:
    mvc:
      servlet:
        path: /

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: devops-final
  server:
    port: 8080
  web:
    server:
      request:
        autotime:
          enabled: true
