apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "demo.fullname" . }}-config
  namespace: {{ .Values.app.namespace }}
  labels:
    {{- include "demo.labels" . | nindent 4 }}
data:
  application.yaml: |
    spring:
      application:
        name: {{ .Values.app.name }}
      datasource:
        url: jdbc:h2:mem:food
        driverClassName: org.h2.Driver
        username: sa
        password:
      jpa:
        hibernate:
          ddl-auto: update
        defer-datasource-initialization: true
        show-sql: false
      h2:
        console:
          enabled: true

    management:
      endpoints:
        web:
          exposure:
            include: health,info,prometheus,metrics
      endpoint:
        health:
          show-details: always
          probes:
            enabled: true
      metrics:
        tags:
          application: {{ .Values.app.name }}
        web:
          server:
            request:
              autotime:
                enabled: true
