apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: demo-h2-pvc
  namespace: {{ .Values.app.namespace }}
  labels:
    {{- include "demo.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
