apiVersion: v1
kind: Service
metadata:
  name: demo
  namespace: default
  labels:
    app.kubernetes.io/name: demo
    app.kubernetes.io/instance: demo
spec:
  type: {{ .Values.service.type }}
  selector:
    app: demo
  ports:
    - name: http
      port: 9091
      targetPort: 9091
