name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build
        run: mvn clean package -DskipTests

      - name: Build Docker Image
        run: docker build -t demo:${{ github.sha }} .

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Image
        run: |
          docker tag demo:${{ github.sha }} abdullohswe/demo:${{ github.sha }}
          docker push abdullohswe/demo:${{ github.sha }}

      - name: Update Helm image tag
        run: |
          sed -i "s/tag: \".*\"/tag: \"${{ github.sha }}\"/g" helm/demo/values.yaml
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add helm/demo/values.yaml
          git commit -m "chore: update image tag to ${{ github.sha }}" || echo "No changes"
          git push
