name: Build Helm Chart

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.4

      - name: Package Helm Chart
        run: helm package helm/demo

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: chart
          path: "*.tgz"
